p {
    background-color: gray;
}
.block {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:"img text text";
    align-items: start;
    background-color: violet;
    margin: 1%;
    padding: 1%;
}
.img {
    grid-area: img;
}
.text {
    grid-area: text;
    margin-left: 1%;
}
ul.quote {
    background-color: yellow;
}
ul.href {
    background-color: chartreuse;
    margin-top: 1%;
}
.img li {
    list-style-type: none;
}