<!-- <p>gallery-beijing works!</p> -->
<div class="grid-container">
    <article id="777" class="location-listing">
    
        <a class="location-title" href="{{src[4]}}">Пекін ({{city[4]}})</a>

        <div class="location-image">
            <a href="#">
                <img src="{{src[4]}}" alt="{{city[4]}}">
            </a>
        </div>
        <table>
            <tbody>
                <tr><td>{{info[3] | uppercase}}</td><td>{{info[0] | date: 'yyy'}} рік</td></tr>
                <tr><td>{{info[4] | uppercase}}</td><td>{{info[1]}} км²</td></tr>
                <tr><td>{{info[5] | uppercase}}</td><td>{{info[2]}}</td></tr>
            </tbody>
        </table>

    </article>
</div>
        <div class="img">
            <img src="../../assets/Beijing1.avif" alt="">
            <img src="../../assets/Beijing2.avif" alt="">
            <img src="../../assets/Beijing3.avif" alt="">
        </div>