<!-- <p>biggest-car works!</p> -->

<div class="block">
    <div class="text">
        <h1>ОСЬ НАЙБІЛЬША МАШИНА В СВІТІ<br>{{profile[5] | uppercase}}</h1>
        <p><br><br>
            А чи знаєте ви, який автомобіль найбільший у світі? Ні, це не Caterpillar і не Liebherr, найбільш гігантським автомоблем на планеті є БелАЗ з Білорусії – кар’єрний самоскид {{profile[5] | uppercase}}.
            <br><br>
            Хто б що не говорив про поточну економічну ситуацію в Білорусії, але випуск такого складного і рекордно потужного самоскида говорить нам лише про одне – країна зберегла технологією, не впустила марку і рівень якості та готова поставляти на світові ринки унікальну техніку, одну з кращих на планеті!
            <br><br>
            Випущений на заводі ВАТ «БелАЗ» (Білорусь), цей гігант інженерної думки по праву зайняв першість за розміром і вантажопідйомності – адже він бере на борт {{profile[0]}} тонн! Це рекорд, найближчі конкуренти з Америки і Європи здатні максимум на 363 тонни.
            <br><br>
            Маса автомобіля гіганта становить аж 810 т, при цьому самоскид {{profile[5] | uppercase}} може розвивати швидкість до {{profile[1]}} км / год, що, погодьтеся, досить переконливо, для подібного класу машин.
            <br><br>
            Чотири спарених колісних пар велетня в рух приводять електромотори, живиться від генераторів, потужність яких становить {{profile[2]}} кінських сил (БелАЗ побив рекорд не тільки вантажопідйомності, але ще й потужності, так як на Землі немає самоскидів які мають “під капотом” стільки “коней”).
            <br><br>
            У машини є два режими роботи двигунів, в повному завантаженні працюють обидва дизель-генератора, причому автомобіль повнопривідний, а в той час, коли самоскид їде порожній, другий двигун відключається, для економії палива.
            <br><br>
            Білоруське підприємство БелАЗ не тільки не розтратив старі технології, але й впевнено рухається до нових технологічних стандартам, адже не достатньо зробити автомашину просто в два рази більше розміром, збільшивши розмір деталей.
            <br><br>
            При проектуванні і виготовленні вирішується комплекс складних інженерних завдань, з якими професіонали впоралися на відмінно, створивши найбільш вантажопідйомний і найпотужніший самоскид на планеті!
        </p>
    </div>
    <div class="img">
        <img src="{{profile[3]}}" alt="">
        <img src="{{profile[4]}}" alt="">
    </div>