<!-- <p>gallery works!</p> -->

<div class="child-page-listing">

    <h2>Gallery of city's</h2>
  
    <div class="grid-container">
     
      <article id="777" class="location-listing" *ngFor="let item of items">
        
        <a class="location-title" href="#" routerLink="{{item.city_gallery}}">{{item.city_name}}</a>
        
        <div class="location-image">
            <a href="#">
                <img width="300" height="169" src ="{{item.city_src}}" alt="">
            </a>
        </div>
  
      </article>
  
    </div>
    <!-- end grid container -->
  
</div>

<router-outlet></router-outlet>
