<!-- <p>gallery-paris works!</p> -->
<div class="grid-container">
    <article id="777" class="location-listing">
    
        <a class="location-title" href="{{src[5]}}">{{city[5]}}</a>

        <div class="location-image">
            <a href="#">
                <img src="{{src[5]}}" alt="{{city[5]}}">
            </a>
        </div>
        <table>
            <tbody>
                <tr><td>{{info[3] | uppercase}}</td><td>{{info[0]}} рік</td></tr>
                <tr><td>{{info[4] | uppercase}}</td><td>{{info[1]}} км²</td></tr>
                <tr><td>{{info[5] | uppercase}}</td><td>{{info[2]}}</td></tr>
            </tbody>
        </table>

    </article>
</div>
        <div class="img">
            <img src="../../assets/Paris1.jpg" alt="">
            <img src="../../assets/Paris2.jpg" alt="">
            <img src="../../assets/Paris3.jpg" alt="">
        </div>