<!-- <app-hw01></app-hw01>
<app-hw02></app-hw02>
<app-strange-hobby></app-strange-hobby> -->
<header>
    <div class="header">
        ...header...
    </div>
</header>
<p>
<a href="/" routerLinkActive="active one">work's</a>    
<a href="Hw01Component" routerLinkActive="active two">hw01</a>
<a href="Hw02Component" routerLinkActive="active three">hw02</a>
<a href="StrangeHobbyComponent" routerLinkActive="active four">strange-hobby</a>
</p>

<router-outlet></router-outlet>
<footer>
    <div class="footer">
        ...footer...
    </div>
</footer>