p {
    text-align: center;
}
/* li {
    height: 100px;
} */
a {
    background-color: green;
    color: white;
}
.footer {
    background-color: red;
}
.header {
    background-color: red;
}
.active {
    background-color: rgb(123, 216, 123);
    color: black;
}