.block {
    margin-left: 1%;
    display: grid;
    grid-gap: 10px;
    grid-template-areas:"img text";
    align-items: start;
    background-color: violet;
    margin: 1%;
    padding: 1%;
}
.img {
    grid-area: img;
}
img {
    height: 100%;
    width: 100%;
    margin-top: 7.5%;
}
.text {
    grid-area: text;
    margin-left: 1%;
}
p {
    text-align: justify;
}