<!-- <p>biggest-ship works!</p> -->

<div class="block">
    <div class="text">
        <h1>{{profile[2]  | uppercase}}</h1>
        <p>
            Станом на 2019 рік, найбільшим круїзним судном у світі є лайнер <b>Symphony of the Seas (Симфонія морів)</b>, що належить компанії Royal Caribbean International. Судно спустили на воду в Сен-Назер (Франція) в березні 2018 року, а його вартість склав 1,35 мільярдів доларів США.
            <br><br>
            MV Symphony of the Seas – дійсно унікальний лайнер. Його довжина становить {{profile[1]}} метр, ширина – 66 метрів, висота – 72,5 метра. На лайнері 18 палуб, що вміщають 6 680 пасажирів і 2200 членів екіпажу.
            <br><br>
            Силова установка відповідає гігантським розмірам судна: 6 двигунів Wärtsilä (загальна потужність 45 000 к.с.), встановлені по три в 2 окремих машинних відділення, що робить «Симфонію» керованої і надійною. Компанія ABB поставила три рухові установки Azipod (3 × 20 МВт (27 000 к.с.), а Wärtsilä – чотири носові підрулюють пристрої (4 × 5,5 МВт (7 400 к). Крім того, Wärtsilä встановила свою навігаційну і DP систему NACOS Platinum на Місток Sympony of the Seas.
            <br><br>
            Що стосується туристичної привабливості, то дизайнери «Симфонії» потрудилися не менш інженерів. Наприклад, тут є свій Центральний парк зі справжніми деревами, алеями і кафе; величезна 10-поверхова гірка «Безодня», симулятор серфінгу, критий льодовий каток і так далі.
            <br><br>
            <b>Перше плавання «Симфонії» пройшло по Середземномор’ю, а потім лайнер пішов в Майамі. Тепер його маршрут включає в себе Західне Карибське море, Мексику, Гондурас і Багамські острови.</b>
        </p>
    </div>
    <div class="img">
        <img src="{{profile[0]}}" alt="">
    </div>
</div>