<p>hw02 works!</p>

<h1>Resume</h1>
<table>
    <!-- <caption>Resume</caption> -->
    <thead>
        <tr><th></th><th></th></tr>
    </thead>
    <tbody>
        <tr><td>ПІБ</td><td>{{PIB}}</td></tr>
        <tr><td>дата народження</td><td>{{Date1}}</td></tr>
        <tr><td>телефон</td><td>{{number}}</td></tr>
        <tr><td>email</td><td>{{email}}</td></tr>
        <tr><td>місто проживання</td><td>{{city}}</td></tr>
        <tr><td>досвід роботи</td><td>{{work1}}<br>{{work2}}</td></tr>
        <tr><td>навички</td><td>{{work3}}</td></tr>
        <tr><td>соцмережі</td><td>{{social1}}<br>{{social2}}</td></tr>
    </tbody>
    <!-- <tfoot>
        <tr><td>:</td><td></td></tr>
    </tfoot> -->
</table>
<br>
<img src="./assets/IMG_20170622_081828.jpg" alt="">
