table,td {
    border: 1px solid black;
}
img {
    height: fit-content;
    width: 50%;
}
td {
    width: 234px;
}

.all {
    display: flex;
}
.table {
    display: inline;
    margin-left: 1%;
}
.photo {
    display: inline;
    margin-top: 2.5%;
}