img {
    width: 38vw;
    height: 57vh;
}
table {
    width: 45vw;
    font-size: larger;
}
.all {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:"table photo";
    background-color: skyblue;
    align-items: start;
    padding: 1%;
    margin: 1%;
}
.table {
    grid-area: table;
    margin-left: 3%;
}
.question {
    background-color: cadetblue;
    padding-left: 1%;
}
.answer {
    background-color: aqua;
    padding-left: 1%;
}
.answer_test {
    background-color: aqua;
    padding-left: 1%;
    color: red;
    font-weight: bold;
}
.photo {
    grid-area: photo;
    margin: 1% 0% 1% 5%;
}
.radio input {
    margin: 1%;
}
td button {
    margin: 1%;
    background-color: red;
    /* width: 40px;
    height: 40px; */
}
.test {
    background-color: yellow;
    padding-left: 1%;
}