<!-- <p>biggest-airplane works!</p> -->

<div class="block">
    <div class="text">
        <table>
            <h1>Ан-225 «Мрія»</h1>
            <!-- <caption>Resume</caption> -->
            <!-- <thead>
                <tr><th></th><th></th></tr>
            </thead> -->
            <tbody>
                <tr><td>Довжина:</td><td>{{profile[0]}} м</td></tr>
                <tr><td>Розмах крила:</td><td>{{profile[1]}} м</td></tr>
                <tr><td>Максимальна злітна маса:</td><td>{{profile[2]}} т</td></tr>
                <tr><td>Максимальна швидкість в польоті:</td><td>{{profile[3]}} км/год</td></tr>
                <tr><td>Дальність польоту:</td><td>{{profile[4]}} км</td></tr>
                <tr><td>Екіпаж:</td><td>{{profile[5]}} чоловік</td></tr>
                <tr><td>Кількість пасажирів:</td><td>{{profile[6]}} чоловік, супроводжуючих вантаж</td></tr>
            </tbody>
            <!-- <tfoot>
                <tr><td>:</td><td></td></tr>
            </tfoot> -->
        </table>
        <br>
        <p>Цей гігант потребує представлення ще менше ніж Boeing 747. Ви дійсно можете пишатися своєю батьківщиною, адже Україна – мати легендарного Ан-225, який об'єктивно визнаний самим найбільшим та найважчим літаком в історії літакобудування. Розмах його крила становить понад {{profile[1]}} метрів, загальна довжина {{profile[0]}} метри або 25 поверхів житлового будинку. Ан-225 здатний піднятися в повітря з загальною масою до 600 тонн. Свій перший політ Ан-225 здійснив у грудні 1988 року. Спочатку його передбачалося використовувати для перевезення космічних кораблів «Буран», однак після розпаду СРСР потреба в ньому відпала. На початку 2000-х років «Мрію» відновили. Єдиний у своєму роді, робочий екземпляр Ан-225 експлуатувався Україною в комерційних цілях.</p>
        <p><b>14 квітня 2020 року</b> літак доставив із китайського міста Тяньцзінь до Варшави 100 т медичних засобів для боротьби із коронавірусом.
        <br>
        <b>19 квітня 2020 року</b> літак доставив із китайського міста Тяньцзінь до Парижа 150 т медичних засобів для боротьби із коронавірусом.
        <br>            
        <b>23 квітня 2020 року</b> літак доставив з Китаю до Києва 103 т медичних засобів для боротьби із коронавірусом. Літак зустрічав Президент України Володимир Зеленський, який зазначив, що літак транспортував 12 мільйонів медичних масок, близько 260 тисяч захисних окулярів для медиків і понад 100 тисяч захисних костюмів 5-го рівня захисту.
        <br>
        <b>27 квітня 2020 року</b> літак доставив з Китаю до Лейпцига (Німеччина) 10 млн медичних масок, всього їх має бути доставлено 25 млн.</p>
        <p class="war">27 лютого 2022 року під час повітряної атаки російських військ на аеропорт Гостомель літак було знищено.</p>
    </div>
    <div class="img">
        <img src="{{profile[7]}}" alt="">
        <img src="{{profile[8]}}" alt="">
    </div>
</div>
