<!-- <p>biggest-airplane works!</p> -->

<div class="block">
    <div class="text">
        <table>
            <h1>Ан-225 «Мрія»</h1>
            <!-- <caption>Resume</caption> -->
            <!-- <thead>
                <tr><th></th><th></th></tr>
            </thead> -->
            <tbody>
                <tr><td>Довжина:</td><td>84 м</td></tr>
                <tr><td>Розмах крила:</td><td>88,4 м</td></tr>
                <tr><td>Максимальна злітна маса:</td><td>600 т</td></tr>
                <tr><td>Максимальна швидкість в польоті:</td><td>850 км/год</td></tr>
                <tr><td>Дальність польоту:</td><td>15400 км</td></tr>
                <tr><td>Екіпаж:</td><td>6 чоловік</td></tr>
                <tr><td>Кількість пасажирів:</td><td>70 чоловік, супроводжуючих вантаж</td></tr>
            </tbody>
            <!-- <tfoot>
                <tr><td>:</td><td></td></tr>
            </tfoot> -->
        </table>
        <p>Цей гігант потребує представлення ще менше ніж Boeing 747. Ви дійсно можете пишатися своєю батьківщиною, адже Україна – мати легендарного Ан-225, який об'єктивно визнаний самим найбільшим та найважчим літаком в історії літакобудування. Розмах його крила становить понад 88 метрів, загальна довжина 84 метри або 25 поверхів житлового будинку. Ан-225 здатний піднятися в повітря з загальною масою до 600 тонн. Свій перший політ Ан-225 здійснив у грудні 1988 року. Спочатку його передбачалося використовувати для перевезення космічних кораблів «Буран», однак після розпаду СРСР потреба в ньому відпала. На початку 2000-х років «Мрію» відновили. Єдиний у своєму роді, робочий екземпляр Ан-225 експлуатувасяся Україною в комерційних цілях.</p>
        <p>27 лютого 2022 року під час повітряної атаки російських військ на аеропорт Гостомель літак було знищено.</p>
    </div>
    <div class="img">
        <img src="../../assets/Dream_450px-Antonov_An-225_Beltyukov-1.jpg" alt="">
    </div>
</div>
