<!-- <p>gallery-cape-town works!</p> -->
<div class="grid-container">
    <article id="777" class="location-listing">
    
        <a class="location-title" href="{{src[3]}}">{{city[3]}}</a>

        <div class="location-image">
            <a href="#">
                <img src="{{src[3]}}" alt="{{city[3]}}">
            </a>
        </div>
        <table>
            <h3>{{city[3]}}</h3>
            <tbody>
                <tr><td>{{info[3] | uppercase}}</td><td>{{info[0] | date: 'yyyy'}} рік</td></tr>
                <tr><td>{{info[4] | uppercase}}</td><td>{{info[1]}} км²</td></tr>
                <tr><td>{{info[5] | uppercase}}</td><td>{{info[2]}}</td></tr>
            </tbody>
        </table>

    </article>
</div>
        <div class="img">
            <a href="{{img[0]}}"> <img src="{{img[0]}}" alt=""> </a>
            <a href="{{img[1]}}"> <img src="{{img[1]}}" alt=""> </a>
            <a href="{{img[2]}}"> <img src="{{img[2]}}" alt=""> </a>
        </div>