<!-- <p>switch works!</p> -->

<div class="block">
    <div class="calc">
        <label for=""><b>CALC</b></label><br>
        <label for="">Number1</label><br>
        <input type="text" #input1 (keyup.enter)="plus(input1.value, input2.value)"><br>
        <label for="">Number2</label><br>
        <input type="text" #input2 (keyup.enter)="plus(input1.value, input2.value)">
        <br><br>
        <button (click)="plus(input1.value, input2.value)">+</button>
        <button (click)="minus(input1.value, input2.value)">-</button>
        <button (click)="divide(input1.value, input2.value)">/</button>
        <button (click)="multiply(input1.value, input2.value)">*</button>
        <br>
        <span>result: {{result}}</span>
    </div>

    <div class="auto">
        <label for=""><b>AUTO</b></label><br>
        <label for="">Введіть марку авто</label><br>
        <input type="text" #input3 (keyup.enter)="car = input3.value" placeholder="Audi,BMW,Mercedes">
        <br>
        <label for="">Введіть марку авто, яку потрібно додати</label><br>
        <input type="text" #addElem (keyup.enter)="addCar(addElem.value)">
        <div [ngSwitch]="car">
            <div *ngSwitchCase="'Audi'"> 
                <h3>This is Audi model list:</h3>
                <ul>
                    <li *ngFor="let model  of aud">
                        {{model}}
                    </li>
                </ul>
            </div>
            <div *ngSwitchCase="'BMW'">
                <h3>This is BMW model list:</h3>
                <ul>
                    <li *ngFor="let model  of bmwModels">
                        {{model}}
                    </li>
                </ul>
            </div>
            <div *ngSwitchCase="'Mercedes'">
                <h3>This is Mercedes model list:</h3>
                <ul>
                    <li *ngFor="let model  of mercedesModels">
                        {{model}}
                    </li>
                </ul>
            </div>
            <div *ngSwitchDefault>
                <br>
                <h3>Car is undefined</h3>
            </div>
        </div>
    </div>

    <div class="for">
        <h2>My list (ngFor)</h2>
        <ul class="items">
            <li *ngFor="let item of items">
                {{item.id}}***{{item.name2}}
            </li>
        </ul>
    </div>

    <div class="if" *ngIf="items.length > 0">
        <h2>(ngIf)</h2>
        {{items.length}}
        {{items.length == 1 ? 'item' : 'items'}}
    </div>

</div>