<!-- <p>biggest-car-airplane-ship works!</p> -->

<nav class="nav">
    <a class="nav-link active" aria-current="page" href="#" routerLink="Car" routerLinkActive="active">Biggest Car</a>
    <a class="nav-link" href="#" routerLink="Airplane" routerLinkActive="active">Biggest Airpane</a>
    <a class="nav-link" href="#" routerLink="Ship" routerLinkActive="active">Biggest Ship</a>
    <a class="nav-link" href="#" routerLink="Switch" routerLinkActive="active">Switch</a>
    <a class="nav-link" href="#" routerLink="Gallery" routerLinkActive="active">Gallery</a>
    <!-- <a class="nav-link disabled">Disabled</a> -->
</nav>

<router-outlet></router-outlet>