<!-- <p>gallery-london works!</p> -->
<div class="grid-container">
    <article id="777" class="location-listing">
    
        <a class="location-title" href="{{src[1]}}">{{city[1]}}</a>

        <div class="location-image">
            <a href="#">
                <img src="{{src[1]}}" alt="{{city[1]}}">
            </a>
        </div>
        <table>
            <tbody>
                <tr><td>{{info[3] | uppercase}}</td><td>{{info[0] | date: 'yy'}} рік</td></tr>
                <tr><td>{{info[4] | uppercase}}</td><td>{{info[1]}} км²</td></tr>
                <tr><td>{{info[5] | uppercase}}</td><td>{{info[2]}}</td></tr>
            </tbody>
        </table>

    </article>
</div>
        <div class="img">
            <img src="../../assets/london1.webp" alt="">
            <img src="../../assets/london2.webp" alt="">
            <img src="../../assets/london3.webp" alt="">
        </div>
