p {
    text-align: justify;
    padding: 1%;
}
img {
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.all {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:"img text";
    background-color: yellowgreen;
    align-items: start;
    padding: 1%;
    margin: 1%;
}
.img {
    grid-area: img;
}
.text {
    grid-area: text;
    margin-left: 1%;
    margin-right: 1%;
}
