<p>strange-hobby works!</p>

<h1>Стрибки у вінгсьюті</h1>

<img src="./assets/wing-suit.jpg" alt="">
<p>Назву «wingsuit» носить спеціальний костюм для стрибків без парашута. Перші варіації на цю тему з’явилися ще в 1930-х роках. Сучасні аналоги дозволяють спортсменам долати відстані в кілька десятків кілометрів (рекорд – 27 км) і падати з висоти до 5000 метрів.</p>
    
<p>Треба сказати, що таке хобі вимагає серйозної професійної підготовки і постійних грошових вливань. Найпростіший вінгсьют обійдеться в сотні доларів, а в західних країнах вам і зовсім не продадуть його без доказів досвіду стрибків та відповідної підготовки. Там власним костюмом може обзавестися тільки спортсмен, що зробив не менше 200 вільних польотів.</p>

<h2>Історія</h2>
<p>
Попри очевидність ідеї крил на руках, працездатна схема вінгсьюта була розроблена тільки в середині 1990-х років. Історія зберегла імена 75 винахідників крил типу «летюча миша», які намагалися стрибати з різними конструкціями власного винаходу. Майже всі вони загинули. Через надзвичайно високу смертність в 1950-х роках американська федерація парашутного спорту USPA навіть заборонила будь-які випробування крил типу «летюча миша», і ця заборона протрималася до кінця 1980-х років.
<br>    
У середині 1990-х років француз Патрік де Гайардон винайшов сучасний вінгсьют:
<br>    
• три крила замість двох;<br>
• двошарові крила, надуває потоком, що набігає (ram-air).<br>
• Всі три тканинних крила мають всередині нервюри, які надуваються потоком, що набігає через повітрозабірники, і при польоті парашутиста вперед, створюють підіймальну силу. Крім того, тиск всередині крила створює необхідну жорсткість, без якої крило було б важко тримати рукою.</p>
